# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv')

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [7]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [9]:
df=df.loc[:,'school':'guardian']

### Step 5. Create a lambda function that capitalize strings.

In [25]:
lambda x: x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [30]:
df['Mjob'].apply(lambda s: s.capitalize())
df['Fjob'].apply(lambda s: s.capitalize())

0       Teacher
1         Other
2         Other
3      Services
4         Other
5         Other
6         Other
7       Teacher
8         Other
9         Other
10       Health
11        Other
12     Services
13        Other
14        Other
15        Other
16     Services
17        Other
18     Services
19        Other
20        Other
21       Health
22        Other
23        Other
24       Health
25     Services
26        Other
27     Services
28        Other
29      Teacher
         ...
365       Other
366    Services
367    Services
368    Services
369     Teacher
370    Services
371    Services
372     At_home
373       Other
374       Other
375       Other
376       Other
377    Services
378       Other
379       Other
380     Teacher
381       Other
382    Services
383    Services
384       Other
385       Other
386     At_home
387       Other
388    Services
389       Other
390    Services
391    Services
392       Other
393       Other
394     At_home
Name: Fjob, Length: 395, dtype: object

### Step 7. Print the last elements of the data set.

In [33]:
df.iloc[-5:]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
390,MS,M,20,U,LE3,A,2,2,services,services,course,other
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother
392,MS,M,21,R,GT3,T,1,1,other,other,course,other
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [35]:
df['Mjob']=df['Mjob'].apply(lambda s: s.capitalize())
df['Fjob']=df['Fjob'].apply(lambda s: s.capitalize())

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [37]:
majority = lambda age: age>17

In [38]:
df['age'].apply(majority)

0       True
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
365     True
366     True
367    False
368     True
369     True
370     True
371     True
372    False
373    False
374     True
375     True
376     True
377     True
378     True
379    False
380     True
381     True
382    False
383     True
384     True
385     True
386     True
387     True
388     True
389     True
390     True
391    False
392     True
393     True
394     True
Name: age, Length: 395, dtype: bool

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [41]:
def times_10_if_num(x):
    if isinstance(x,int):
        return x*10
    else:
        return x

In [45]:
df.applymap(times_10_if_num)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,course,mother
1,GP,F,170,U,GT3,T,10,10,At_home,Other,course,father
2,GP,F,150,U,LE3,T,10,10,At_home,Other,other,mother
3,GP,F,150,U,GT3,T,40,20,Health,Services,home,mother
4,GP,F,160,U,GT3,T,30,30,Other,Other,home,father
5,GP,M,160,U,LE3,T,40,30,Services,Other,reputation,mother
6,GP,M,160,U,LE3,T,20,20,Other,Other,home,mother
7,GP,F,170,U,GT3,A,40,40,Other,Teacher,home,mother
8,GP,M,150,U,LE3,A,30,20,Services,Other,home,mother
9,GP,M,150,U,GT3,T,30,40,Other,Other,home,mother
10,GP,F,150,U,GT3,T,40,40,Teacher,Health,reputation,mother
11,GP,F,150,U,GT3,T,20,10,Services,Other,reputation,father
12,GP,M,150,U,LE3,T,40,40,Health,Services,course,father
13,GP,M,150,U,GT3,T,40,30,Teacher,Other,course,mother
14,GP,M,150,U,GT3,A,20,20,Other,Other,home,other
15,GP,F,160,U,GT3,T,40,40,Health,Other,home,mother
16,GP,F,160,U,GT3,T,40,40,Services,Services,reputation,mother
17,GP,F,160,U,GT3,T,30,30,Other,Other,reputation,mother
18,GP,M,170,U,GT3,T,30,20,Services,Services,course,mother
19,GP,M,160,U,LE3,T,40,30,Health,Other,home,father
20,GP,M,150,U,GT3,T,40,30,Teacher,Other,reputation,mother
21,GP,M,150,U,GT3,T,40,40,Health,Health,other,father
22,GP,M,160,U,LE3,T,40,20,Teacher,Other,course,mother
23,GP,M,160,U,LE3,T,20,20,Other,Other,reputation,mother
24,GP,F,150,R,GT3,T,20,40,Services,Health,course,mother
25,GP,F,160,U,GT3,T,20,20,Services,Services,home,mother
26,GP,M,150,U,GT3,T,20,20,Other,Other,home,mother
27,GP,M,150,U,GT3,T,40,20,Health,Services,other,mother
28,GP,M,160,U,LE3,A,30,40,Services,Other,home,mother
29,GP,M,160,U,GT3,T,40,40,Teacher,Teacher,home,mother
...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,180,R,GT3,T,10,30,At_home,Other,course,mother
366,MS,M,180,U,LE3,T,40,40,Teacher,Services,other,mother
367,MS,F,170,R,GT3,T,10,10,Other,Services,reputation,mother
368,MS,F,180,U,GT3,T,20,30,At_home,Services,course,father
369,MS,F,180,R,GT3,T,40,40,Other,Teacher,other,father
370,MS,F,190,U,LE3,T,30,20,Services,Services,home,other
371,MS,M,180,R,LE3,T,10,20,At_home,Services,other,father
372,MS,F,170,U,GT3,T,20,20,Other,At_home,home,mother
373,MS,F,170,R,GT3,T,10,20,Other,Other,course,mother
374,MS,F,180,R,LE3,T,40,40,Other,Other,reputation,mother
375,MS,F,180,R,GT3,T,10,10,Other,Other,home,mother
376,MS,F,200,U,GT3,T,40,20,Health,Other,course,other
377,MS,F,180,R,LE3,T,40,40,Teacher,Services,course,mother
378,MS,F,180,U,GT3,T,30,30,Other,Other,home,mother
379,MS,F,170,R,GT3,T,30,10,At_home,Other,reputation,mother
380,MS,M,180,U,GT3,T,40,40,Teacher,Teacher,home,father
381,MS,M,180,R,GT3,T,20,10,Other,Other,other,mother
382,MS,M,170,U,GT3,T,20,30,Other,Services,home,father
383,MS,M,190,R,GT3,T,10,10,Other,Services,other,mother
384,MS,M,180,R,GT3,T,40,20,Other,Other,home,father
385,MS,F,180,R,GT3,T,20,20,At_home,Other,other,mother
386,MS,F,180,R,GT3,T,40,40,Teacher,At_home,reputation,mother
387,MS,F,190,R,GT3,T,20,30,Services,Other,course,mother
388,MS,F,180,U,LE3,T,30,10,Teacher,Services,course,mother
389,MS,F,180,U,GT3,T,10,10,Other,Other,course,mother
390,MS,M,200,U,LE3,A,20,20,Services,Services,course,other
391,MS,M,170,U,LE3,T,30,10,Services,Services,course,mother
392,MS,M,210,R,GT3,T,10,10,Other,Other,course,other
393,MS,M,180,R,LE3,T,30,20,Services,Other,course,mother
394,MS,M,190,U,LE3,T,10,10,Other,At_home,course,father